
.container{
  display: flex;
  gap: 20px;
}
.karopka{
  overflow: auto;
  text-align: center;
  height: 200px;
  width: 300px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient( yellow 0%, rgb(255, 162, 0) 35%, rgb(255, 0, 0) 65%, rgb(255, 0, 149) 90%);
}
.karopka input{
  margin: 15px auto;
  padding: 9px 26px;
  border: solid 2px gray;
  outline: none;
  border-radius: 18px;
  display: block; 
}
button{
  padding: 9px 35px;
  border-radius: 20px;
  border: none ;
  cursor: pointer;
  background-color: rgb(207, 0, 244);
  color: white;
}
button:hover{
  background-color: rgb(6, 138, 6);
}

